<div class="genres-index flex">
  <div class="leftside"></div>
  <main class="main">
    <h2 class="page-title">ジャンル一覧</h2>
    <div class="flex">
      <div class="simple-index flex">
        <% @genres.each do |genre| %>
          <div class="simple-item flex">
            <%= link_to genre.name, genre_albums_path(genre), class: "simple-item-name" %>
          </div>
        <% end %>
      </div>
    </div>
  </main>
  <div class="rightside"></div>
</div>

