<div class="background-image">
  <div class="center-box">
  <h2>ジャンル一覧<h2>
    <div class="genres">
      <% @genres.each do |genre| %>
        <%= genre.name %>
      <% end %>
    </div>
    <div class="link">
      <%= link_to "ジャンルを追加する✔️", new_genre_path %>
    </div>
  </div>
</div>
