<table class="review-table">
	<thead>
		<th class="th-username"></th>
		<th class="th-review"></th>
		<th class="th-review-editbtn"></th>
		<th class="th-review-deletebtn"></th>
	</thead>
	<tbody>
		<% reviews.each do |r| %>
			<%= render "admins/reviews/review", review: r %>
		<% end %>
	</tbody>
</table>
