<div class="reviews-edit flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="page-title"><%= @album.title %>のレビュー編集</h2>
		<div class="review-edit-form">
			<%= form_for @review, url: admins_album_review_path(album_id: @album.id, id: @review.id), method: :patch do |f| %>
		    <div class="review-field clearfix">
		      <span class="label review-label">レビュー内容</span>
		      <%= f.text_area :body, class: "review-form-body" %>
		      <%= f.submit "OK!", class: "btn btn-success review-submit" %>
		    </div>
			<% end %>
		</div>
	</main>
	<div class="rightside"></div>
</div>
