<div class="artists-index flex">
  <div class="leftside"></div>
  <main class="main">
    <h2 class="page-title">アーティスト一覧</h2>
    <div class="flex">
      <div class="simple-index flex">
        <% @artists.each do |artist| %>
          <div class="simple-item flex">
            <%= link_to artist.name, artist_albums_path(artist), class: "simple-item-name" %>
          </div>
        <% end %>
      </div>
    </div>
  </main>
  <div class="rightside"></div>
</div>

