<div class="admins-show flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="page-title">管理者情報</h2>
		<div class="inner field">
			<span class="mail">メールアドレス</span>
			<span class="border"><%= @admin.email %></span>
		</div>
		<%= link_to "編集する", edit_admin_path(@admin), class: "btn btn-success" %>
	</main>
	<div class="rightside"></div>
</div>