<div class="labels-index flex">
  <div class="leftside"></div>
  <main class="main">
    <h2 class="page-title">レーベル一覧</h2>
    <div class="flex">
      <div class="simple-index flex">
        <% @labels.each do |label| %>
          <div class="simple-item flex">
            <%= link_to label.name, label_albums_path(label), class: "simple-item-name" %>
          </div>
        <% end %>
      </div>
    </div>
  </main>
  <div class="rightside"></div>
</div>

