<div class="labels-new flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="page-title">レーベル追加</h2>
		<div class="labels-new-form">
			<%= form_for @label do |f| %>
			<%= f.text_field :name %>
			<%= f.submit "作成" %>
			<% end %>
		</div>
	</main>
	<div class="rightside"></div>
</div>
