<div class="background">
	<div class="center-box">
		<div class="content">
			<h2 class="title">会員一覧</h2>
			<table>
				<tbody>
					<tr>
						<td class="text-center">会員ID</td>
						<td class="text-center table-margin">氏名</td>
						<td class="text-center table-margin">購入回数</td>
						<td class="text-center table-margin"></td>
					</tr>
					<% @users.each do |user| %>
						<tr class="table-margin">
							<td  class="text-center"><%= user.id %></td>
							<td  class="text-center table-margin"><%= user.first_name %> <%= user.family_name %></td>
							<td  class="text-center table-margin">1</td>
							<td  class="text-center table-margin"><%= link_to "詳細 →", user_path(user) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
