<div class="users-unsubscribe flex">
  <div class="leftside"></div>
  <main class="main">
    <h2 class="page-title">退会</h2>
    <div class="inner flex">
      <p>本当に退会しますか？</p>
      <div class="yes-or-no flex">
        <%= link_to "はい", delete_user_path(@user),"data-confirm" => "本当に退会しますか？", method: :delete %>
        <%= link_to "いいえ", user_path(@user) %>
      </div>
    </div>
  </main>
  <div class="rightside"></div>
</div>
