<div class="nested-fields song-field flex">
	<div class="flex">
		<%= f.number_field :song_number, class: "song_number-field" %>
		<%= f.text_field :title %>
	</div>
		<%= link_to_remove_association "-", f ,class: "nest_remove-btn" %>
</div>