<h1>Albums#index</h1>
<p>Find me in app/views/albums/index.html.erb</p>

<%= @albums.each do |album| %>
  <%= attachment_image_tag album, album_image, size:"60x60" %>
  <%= album.title %>
  <%= album.artist.name %>
<% end %>
