<div class="albums-show flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="page-title">商品詳細</h2>
		<div class="inner">
			<div class="album-content-first flex is-between">
				<p class="album-title">@album.title</p>
				<a href="" class="fav-btn"><i class="fas fa-heart"></i>いいね</a>
			</div>
			<div class="album-content-second flex is-between">
				<div class="album-content-img"></div>
				<div class="album-info">
					<p class="album-content-status">販売中</p>
					<p>108円 (税込み)</p>
					<p>在庫: @album.stock枚</p>
					<p>ジャンル: @genre.name</p>
					<p>レーベル名: @label.name</p>
					<p>ディスク数: @album.discs.count</p>
				</div>
				<div class="second-left">
					<a class="add-cart-btn text-center" href="">
						<div class="cart-img"></div>
						<p>カートに追加</p>
					</a>
				</div>
			</div>
		</div>
	</main>
	<div class="rightside"></div>
</div>
