.sales_histories-new .cart_items-table {
	width: 550px;
	margin: 0 auto;
}

.sales_histories-index .inner div{
	font-size: 14px;
	text-align: center;
}

.history-section-thead {
	border-bottom: 5px double #bbb;
}
.history-section {
	align-items: center;
	padding: 5px 0;
	border-bottom: 1px solid #bbb;
}
.customer-box {
	width: 80px;
}
.customer-box a {
	display: block;
	width: 80px;
	text-align: center;
}
.created_at-box,
.album_title-box {
	width: 130px;
}
.album_title-box a {
	display: block;
	width: 130px;
	text-align: center;
}
.album_price-box,
.subtotal-box,
.total-box,
.status-box {
	width: 75px;
}
.quantity-box {
	width: 50px;
}
.history_items {
	flex-direction: column;
	width: 330px;
}
.history_item-section {
	width: 330px;
}
.history-section .select_status {
	background-color: #fff;
}
