<div class="homes-thanks flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="thanks-txt">お買い上げありがとうございました。</h2>
		<div class="home-thanks-links flex">
			<%= link_to "買い物を続ける", albums_path, class: "btn btn-success" %>
			<%= link_to "マイページに戻る", user_path(current_user), class: "btn btn-primary" %>
		</div>
	</main>
	<div class="rightside"></div>
</div>
