<div class="albums-edit flex">
	<%= render "admins/albums/album-form", album: @album, page_title: "商品編集", form_url: admins_album_path(@album), method_name: :patch, submit: "変更不能" %>
</div>
<script defer>
  const title = document.querySelector('#title');
  // const price = document.querySelector('#price');
  // const stock = document.querySelector('#stock');
  // const submit = document.querySelector('#submit');
  document.addEventListener('keyup',function(){
  	if (title.value.length >= 1){
  		submit.disabled = false;
      $('#submit').removeClass("btn-cannot");
  		$('#submit').addClass("submit_color");
  		submit.value = "変更する";
  	}else{
  		submit.disabled = true;
      $('#submit').addClass("btn-cannot");
  		$('#submit').removeClass("submit_color");
  		submit.value = "変更不能";
  	};
  });
  console.log(title);
</script>
