<table class="review-table">
	<thead>
		<th class="th-username"></th>
		<th class="th-review"></th>
		<th class="th-review-editbtn"></th>
		<th class="th-review-deletebtn"></th>
	</thead>
	<tbody>
		<%= render reviews %>
	</tbody>

</table>

<%= render "reviews/review-form", album: album, review: review %>