<div class="reviews-edit flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="page-title"><%= @album.title %>のレビュー編集</h2>
		<div class="review-edit-form">
			<%= render "reviews/review-form", album: @album, review: @review %>
		</div>
	</main>
	<div class="rightside"></div>
</div>