
.users-carts .title-haslink {
	display: block;
	padding: 28px 0px 0 5px;
}
.users-carts .cart_album-img-haslink:hover .title-haslink {
	color: #888;
}
.number-field {
	width: 50px;
}
.prices-table {
	margin: 0 auto;
}
.finally {
	font-weight: 400;
}