.cart_album-img-haslink {
	align-items: center;
}
.cart_album-title {
	padding-left: 5px;
}
.cart_album-img-haslink:hover .cart_album-title {
	color: #888;
}
.number-field {
	width: 50px;
}
.prices-table {
	margin: 0 auto;
}
.finally {
	font-weight: 400;
}

.notice-failed {
	color: red;
}
.notice-failed p {
	font-size: 16px;
	margin-bottom: 10px;
}
.notice-failed ul {
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.notice-failed li {
	display: inline-block;
	margin-left: 15px;
}
