.content {
}

.field-box {
  height:120px;
  line-height:120px;
}

.field {

}

.submit {
  height:40px;
  width:70px;
  float:right;
}

footer {
  background-color:black;
  text-align:center;
  color:white!important;
}
