.content {
	margin:0 20px 0 20px;
}
.flash-danger {
	text-align: center;
	font-size: 16px;
	color: #f99;
	margin-bottom: 10px;
}

.table-margin {
	padding-left: 50px ;
}

.userinfo-table,
.userhistory-table {
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;
}
.th-small {
	width: 25%;
}
.th-large {
	width: 75%;
}
.userinfo-tbody tr {
	height: 40px;
}
.user-edit-btn {
	float: right;
	margin-bottom: 30px;
}

.th-date{
	width: 15%;
}
.th-album-name{
	width: 35%;
}
.th-album-count{
	width: 10%;
}
.th-album-price{
	width: 10%;
}
.th-total{
	width: 15%;
}
.th-status{
	width: 15%;
}
.user-history-btn {
	margin: 100px 20px 0;
}

.album-small-img {
	width: 80px;
	height: 80px;
}

.users-unsubscribe .inner {
	flex-direction: column;
	align-items: center;
}
.users-unsubscribe .inner p {
	font-size: 36px;
	font-weight: bold;
}
.users-unsubscribe .inner .yes-or-no {
	width: 240px;
	justify-content: space-between;
	font-size: 24px;
	margin-top: 30px;
}