<% if album.in_cart?(current_user) %>
    <%= link_to album_orders_path(album_id: album.id), method: :delete do %>
      <div class="cart-img"></div>
      <p>カートから削除する</p>
  <% end %>
<% else %>
  <%= link_to album_orders_path(album_id: album.id), method: :post do %>
      <div class="cart-img"></div>
      <p>カートに追加する</p>
  <% end %>
<% end %>