.album-index {
    margin-top: 30px;
    flex-wrap: wrap;
}
.album-item {
    width: 200px;
    height: 220px;
    margin: 0 50px 50px 0;
    background-color: #fef;
}
.album-item:nth-child(3n){
    margin-right: 0;
}
.album-item-img {
    width: 150px;
    height: 150px;
    margin: 10px 25px;
}
.album-item-txt {
    display: block;
}

.price-field {
    width: 50px;
}
.stock-field {
    width: 45px;
}

.disc_btn {
    background-color: red;
    width:25px;
    display:inline-block;
    margin: 0 20px;
    text-align: center;
    border-radius: 5px;
}
.submit-color {
    background-color: #5cb85c;
}




.album-content-first {
    margin-top: 20px;
    font-size: 18px;
}
.album-title {
    font-size: 24px;
}
.fav-btn:hover {
    color: #faa;
}
.album-content-second {
    margin-top: 30px;
}
.album-content-img {
    width: 200px;
    height: 200px;
}
.add-cart-btn {
    margin-top: 20px;
}
.cart-img {
    height: 150px;
    width: 150px;
    background-color: #eff;
}