.image-field {
    position: relative;
}
.price-field {
    width: 50px;
}
.stock-field {
    width: 45px;
}

.nest-forms-section {
    width: 550px;
    flex-wrap: wrap;
}

.nest_add-btn,
.nest_remove-btn {
    background-color: red;
    width: 25px;
    display: block;
    text-align: center;
    border-radius: 5px;
    color: #fff;
}
.nest_remove-btn {
    background-color: green;
}
.submit-color {
    background-color: #5cb85c;
}
.disc_number-field,
.song_number-field {
    width: 30px;
    margin-right: 10px;
}
.discs-labels {
    justify-content: space-between;
}
.discs-labels label,
.songs-labels label {
    display: inline-block;
    margin-right: 10px;
}
.disc-field {
    width: 250px;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 0 5px 10px 0;
}
.song-field {
    margin-bottom: 5px;
    justify-content: space-between;
}




.album-content-first {
    margin-top: 20px;
    font-size: 18px;
}
.album-title {
    font-size: 24px;
}
.album-info {
    width: 350px;
}
.fav-btn:hover {
    color: #faa;
}
.album-content-second {
    margin-top: 30px;
}
.album-content-img {
    width: 180px;
    height: 180px;
}
.album-discs-section {
    flex-wrap: wrap;
}
.album-disc {
    width: 170px;
    margin: 0 10px 10px 0;
    padding: 5px;
    border: 1px solid #ccc;
}
.album-disc:nth-child(2n){
    margin-right: 0;
}




.add-cart-btn {
    margin-top: 20px;
}
.cart-img {
    height: 150px;
    width: 150px;
    background-image: url("../cart-image.jpg");
    background-size: contain;
}

#img_prev {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -70px;
    left: 300px;
}
.img_prev-hide {
    display: none;
}